.cv-details {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
  }
  .cv-detail img {
    width: 200px; /* Set fixed width */
    height: 200px; /* Set fixed height */
    object-fit: cover; /* Crop the image if needed */
    border-radius: 10px; /* Optional: for rounded corners */
    margin-bottom: 10px; /* Optional: for spacing */
  }
  
  .cv-details h2 {
    margin: 0;
    font-size: 20px;
  }
  
  .cv-details p {
    margin: 10px 0;
    font-size: 16px;
  }
  